# Modo administrador: false / true
ADMIN_MODE='true'

# Modo del servidor: false / true
CLUSTER_MODE='false'

# Credenciales para el cifrado de cookies y session
COOKIES_SECRET=''
SESSION_SECRET=''

# Link de Conexión a mongoDB local
MONGO_URL='mongodb://127.0.0.1:27017/ecommerce'

# Conexion MySQL / MariaDB
DB_HOST='localhost'
DB_PORT='3306'
DB_USER='root'
DB_PASS=''
DB_NAME='ecommerce'

# Tipos de persistencia posibles: 'mongoDB', 'mySQL'
# En desarrollo, mongoDB funciona localmente
# No utilizar mySQL
PERSISTENCY='mongoDB'

# Cuenta emisora y receptora de mails.
GMAIL_ADMIN=''
GMAIL_PASS=''

# Para enviar mensajes de WhatsApp por twilio.
TWILIO_ACCOUNT_SID=''
TWILIO_AUTH_TOKEN=''
TWILIO_PHONE=''
ADMIN_PHONE=''