# Modo administrador: false / true
ADMIN_MODE='true'

# Modo del servidor: false / true
CLUSTER_MODE='true'

# Credenciales para el cifrado de cookies y session
COOKIES_SECRET=''
SESSION_SECRET=''

# Link de Conexión a mongoDB Atlas (DBaaS)
MONGO_URL=''

# Conexion MySQL / MariaDB
DB_HOST='localhost'
DB_PORT='3306'
DB_USER='root'
DB_PASS=''
DB_NAME='ecommerce'

# Tipos de persistencia posibles: 'mongoDB'
# En producción, mongo es utilizado con un cluster de Atlas.
PERSISTENCY='mongoDB'

# Cuenta emisora y receptora de mails.
GMAIL_ADMIN=''
GMAIL_PASS=''

# Para enviar mensajes de WhatsApp por twilio.
TWILIO_ACCOUNT_SID=''
TWILIO_AUTH_TOKEN=''
TWILIO_PHONE=''
ADMIN_PHONE=''