<html lang='es'>
  <head>
    <title>Error del servidor - AVP e-commerce</title>
  </head>

  <body>
    {{! Comienzo barra de navegación }}
    <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
      <div class='container'>
        <a class='navbar-brand' href='/'>
          <i
            id='logo'
            class='bx bxs-shopping-bag bx-rotate-90 bx-tada bx-md'
          ></i>
        </a>
        <button
          class='navbar-toggler'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#navbar-list-4'
          aria-controls='navbarNav'
          aria-expanded='false'
          aria-label='Toggle navigation'
        >
          <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse' id='navbar-list-4'>
          <ul class='navbar-nav align-items-center'>
            <li class='nav-item'>
              <a class='nav-link active' aria-current='page' href='/'>
                <i id='logo-title'>AVP e-commerce</i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {{! Fin barra de navegación }}

    <div class='container py-5 min-vh-70'>
      <h1>¡Ha ocurrido un error en el servidor!</h1>
      <fieldset class='error-fieldset'>
        <legend class='error-legend'>Detalle:</legend>
        <div class="alert alert-danger error-msg" role="alert">
          {{error}}
        </div>
      </fieldset>
      <br />
      <div class='col-md-12'>
        <a href='/' type='button' class='btn btn-dark'>
          Volver
        </a>
      </div>
    </div>
    <footer class='footer mt-auto py-3 bg-light'>
      <div class='container text-center'>
        <span class='text-muted'>&copy;2022 Desarrollado por Alexis Velázquez</span>
      </div>
    </footer>
  </body>
</html>